{% set meta = {
  title: 'Clava Curly Landing',
  description: '...',
  keywords: '...',
} %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{meta.title}}</title>
  <meta name="description" content="{{meta.description}}">
  <meta name="keywords" content="{{meta.description}}">


  <link rel="icon" type="image/png" href="" sizes="16x16">
  <link rel="icon" type="image/png" href="" sizes="32x32">
  <link rel="icon" type="image/png" href="" sizes="64x64">

  <link rel="apple-touch-icon" type="image/png" sizes="152x152" href="">
  <link rel="apple-touch-icon" type="image/png" sizes="167x167" href="">
  <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="">

  <link rel="icon" type="image/png" sizes="192x192" href="">

  {#
    <meta property="og:locale" content="ru_RU">
    <meta property="og:type" content="website">
    <meta property="og:url" content="...">
    <meta property="og:title" content="{{meta.title}}">
    <meta property="og:description" content="{{meta.description}}">
    <meta property="og:image" content="...">
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
  #}

  {#<link rel="preload" href="assets/fonts/roboto/roboto-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">#}

  <link rel="stylesheet" type="text/css" href="styles/aos.css">
  <link rel="stylesheet" type="text/css" href="styles/slick.css">
  <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
